doctype html
head
    title Sucesso
    script(type='text/javascript').
        if (foo) bar(1 + 5)
body
    h1 Contato feito com sucesso!
    #container.col
        p Você estabeleceu contato.
            